/*编辑汇款账*/
.remits-edit-ct{
	background:#fff;
	overflow:hidden;
}
.remits-edit-item{
	margin:0 0.4rem;
	padding:0.533333rem 0;
	border-bottom:1px solid #eee;
	font-size:0.4rem;
}
.remits-edit-item input{
	display:inline-block;
	width:6.4rem;
	border:none;
}