/*编辑手机号*/
.edit-phone{
	background:#fff;
	padding:0.4rem;
	font-size:0.4rem;
	color:#999;
}
.phone-title{
	font-size:0.32rem;
	color:#2c2c2c;
	padding:0 0.4rem;
	margin-top:0.533333rem;
}
.phone-title span{
	color:#d5aa5c;
}
.phone-wrap .close-bt{
	margin-top:1.066667rem;
}