/*返利资金*/
body,html{
	background:#fff;
}
.rebate-wrap{
	margin-top:-0.026667rem;
}
.rebate-tp{
	background:#27282f;
	padding:0.4rem 0.666667rem;
}
.rebate-tp span,.rebate-tp b{
	display:block;
	font-size:0.373333rem;
	color:#999;
}
.rebate-tp b{
	font-size:1.333333rem;
	color:#d5aa5c;
	line-height:2.0rem;
}
/*内容*/
.bg-ee{
	height:0.4rem;
	background:#f5f5f5;
}
.rebate-tit{
	display:inline-block;
	width:4.0rem;
	padding-top:0.533333rem;
	font-size:0.506667rem;
	color:#2c2c2c;
	margin:0 0.4rem;
	padding-bottom:0.533333rem;
	border-bottom:1px solid #2c2c2c;
}
.rebate-tit b{
	height:0.533333rem;
	line-height:0.533333rem;
	padding:0 0.4rem;
	padding-left:0.266667rem;
	border-left:0.066667rem solid #2c2c2c;
	
}
.rebate-item{
	overflow:hidden;
	padding-top:0.533333rem;
	border-bottom:1px solid #eee;
}
.category{
	height:0.533333rem;
	line-height:0.533333rem;
	font-size:0.4rem;
	color:#2c2c2c;
	padding:0 0.4rem;
}
.category b{
	float:right;
	font-size:0.533333rem;
}
.category-time{
	position:relative;
	padding-top:0.4rem;
}
.category-time .detailed-tit{
	position:absolute;
	left:0.4rem;
	top:0.426667rem;
	font-size:0.32rem;
	color:#999;
}
.category-time .detailed-tit em{
	margin-left:0.4rem;
}
.detailed .detailed-p{
	text-align:right;
	font-size:0.32rem;
	color:#d5aa5c;
	padding:0 0.4rem 0.4rem 0.4rem;
}
.detailed .yellow-bt{
	margin-left:0.2rem;
}
.active .yellow-bt{
	-webkit-transform: rotateZ(180deg);
    -moz-transform: rotateZ(180deg);
    -o-transform: rotateZ(180deg);
    -ms-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}
.detailed-info{
	background:#f5f5f5;
	padding:0.4rem;
	font-size:0.373333rem;
	color:#2c2c2c;
	display:none;
}
.detailed-info p{
	overflow:hidden;
	margin-bottom:0.4rem;
}
.detailed-info p:last-child{
	margin-bottom:0;
}
.detailed-info span{
	float:right;
	color:#999;
}
.active .detailed-info{
	display:block;
}
.rebate-no{
	text-align:center;
	font-size:0.453333rem;
	padding:4.0rem 0;
}