/*关于淘车猫*/
body,html{
	background:#fff;
}
.about-wrap{
	font-size:0.4rem;
	color:#999;
}
.about-tp{
	height:3.533333rem;
	text-align:center;
	overflow:hidden;
	background:#f5f5f5;
}
.about-logo{
	display:inline-block;
	background:url(../../images/logo.png) no-repeat;
	background-size:contain;
	width:2.96rem;
	height:0.813333rem;
	margin-top:1.066667rem;
}
.about-tp span{
	display:block;
}
.about-ct{
	padding:0.533333rem 0.4rem;
	max-height:99999px;
	line-height:0.6rem;
}