/*汇款凭证*/
.voucher-item{
	margin-bottom:0.4rem;
	background:#fff;
	overflow:hidden;
}
.voucher-item p{
	max-height:9999px;
	padding:0.533333rem 0;
	margin:0 0.4rem;
	font-size:0.4rem;
	color:#2c2c2c;
	overflow:hidden;
	line-height:0.466667rem;
	border-bottom:1px solid #eee;
}
.voucher-item p span{
	float:right;
	font-size:0.346667rem;
	color:#999;
}
.voucher-item p em{
	margin-left:3.0rem;
}
.voucher-img{
	overflow:hidden;
	padding:0 0.4rem 0.533333rem 0.4rem;
}
.voucher-lt{
	width:3.666667rem;
	height:2.8rem;
	overflow:hidden;
	float:left;
	margin:0 0.466667rem;
}
.voucher-lt img{
	width:100%;
	height:100%;
}