/*内容*/
.user-ct div{
	background:#fff;
	padding:0.266667rem 0.4rem;
	font-size:0.4rem;
	color:#2c2c2c;
	overflow:hidden;
	margin-bottom:0.4rem;

}
.user-ct div span{
	float:right;
	display:inline-block;
	color:#999;
	font-size:0.346667rem;
	max-width:6.666667rem;
}
.user-ct div.user-bt{
	border-bottom:1px solid #eee;
	margin-bottom:0;
}
.company-icon{
	display:inline-block;
	background:url(../../images/company-icon.png) no-repeat;
	background-size:contain;
	width:1.28rem;
	height:0.533333rem;
	vertical-align:middle;
	margin-right:0.4rem;
}
.user-ct div i{
	float:right;
	margin-top:0.066667rem;
}