/*展车出库*/
.details-wrap p{
	max-height: 99999px;
}
.pending p{
	text-align:center;
	font-size:0.453333rem;
	color:#999;
	margin-top:6.666667rem;
}
.receipt-title{
	font-size:0.453333rem;
	color:#2c2c2c;
	border-bottom:1px solid #eee;
	padding-bottom:0.533333rem;
	margin-bottom:0.533333rem;
}
.details-tit{
	padding:0.533333rem 0.4rem;
	background:#d5aa5c;
}
.details-tit h4{
	font-size:0.506667rem;
	color:#fff;
	line-height:0.533333rem;
}
.details-tit h4 span{
	float:right;
	font-size:0.346667rem;
}
.details-tit p{
	font-size:0.346667rem;
	color:#fff;
	margin-top:0.533333rem;
}
.details-addres{
	padding:0 0.4rem 0.533333rem 0.4rem;
	background:#fff;
	margin-bottom:0.4rem;
	font-size:0.4rem;
	color:#2c2c2c;
	position:relative;
}
.details-user span{
	float:right;
}
.details-addres p{
	margin-top:0.533333rem;
	color:#999;
}
.details-addres .white-rt{
	position:absolute;
	right:0.4rem;
	top:1.306667rem;
}
.order-ct{
	padding:0.533333rem 0.4rem;
	background:#fff;
}
.order-number{
	font-size:0.373333rem;
	color:#999;
	overflow:hidden;
	padding-bottom:0.533333rem;
	border-bottom:1px solid #e0e0e0;
}
.order-number span{
	float:right;
}
.leave{
    border-bottom: 1px solid #e0e0e0;
    overflow: hidden;
    padding: 0.533333rem 0;
}
.order-full h3 {
    font-size: 0.426667rem;
}
.order-full .interior {
    color: #999;
    font-size: 0.346667rem;
}
.order-full .payment,.order-full .car-vin{
    border-bottom: 1px solid #e0e0e0;
    color: #2c2c2c;
    overflow:hidden;
    font-size:0.373333rem;
    padding: 0.533333rem 0;
}
.order-full .payment span{
    color: #fc3036;
}
.order-full .payment em{
	float:right;
}
.order-full .car-vin span{
	color:#999;
	float:right;
}
.leave{
	font-size:0.32rem;
	color:#999;
}
.leave span{
	color:#2c2c2c;
}
.request-ct{
	padding:0.533333rem 0.4rem;
	background:#fff;
	margin-top:0.4rem;
}
.remit-tit{
	font-size:0.453333rem;
	padding-bottom:0.533333rem;
	border-bottom:1px solid #e0e0e0;
}
.bond{
	font-size:0.373333rem;
	color:#2c2c2c;
	margin-top:0.533333rem;
}
.bond span{
	float:right;
	color:#fc3036;
}
.bond span.active{
	color:#999;
}
/*展车记录*/
.record{
	background:#fff;
	margin-top:0.4rem;
}
.record span{
	display:block;
	padding:0.533333rem 0.4rem;
	font-size:0.453333rem;
	color:#2c2c2c;
	border-bottom:1px solid #e0e0e0;
}
.record span em{
	float:right;
	color:#999;
}
.record span.record-time{
	font-size:0.373333rem;
}

/*第二种状态*/
.ayment-info{
	border:1px solid #d5aa5c;
	margin-top:0.533333rem;
}
.ayment-info p {
    color: #2c2c2c;
    font-size: 0.4rem;
    margin-top: 0.533333rem;
    overflow: hidden;
}
.ayment-info p label, .ayment-info span {
    display: block;
    float: left;
}
.ayment-info p label {
    color: #999;
    text-align: right;
    width: 2.26667rem;
}
.ayment-info span {
    width: 6.33333rem;
}
.ayment-info p.ayment-details {
    background: #f5f5f5;
    font-size: 0.453333rem;
    height: 1.17333rem;
    line-height: 1.17333rem;
    text-align: center;
}


/*退订展车*/
.website{
	background:#fff;
	margin-top:0.4rem;
	padding-bottom:0.533333rem;
}
.website span{
	display:block;
	padding:0.533333rem 0.4rem;
	font-size:0.453333rem;
	color:#2c2c2c;
	border-bottom:1px solid #e0e0e0;
}
.website span.website-info{
	font-size:0.373333rem;
	color:#999;
	border:none;
	padding:0.533333rem 0.4rem 0 0.4rem;
}
/*补款订单*/
.replen{
	margin-top:0.4rem;
	padding:0.533333rem 0.4rem;
	font-size:0.373333rem;
	color:#d5aa5c;
	background:#fff;
	overflow:hidden;
}
.replen i{
	float:right;
}

/*退订弹框*/
.unsub-mask{
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.8);
}
.unsub-ct{
	position:fixed;
	left:50%;
	top:50%;
	margin-left:-3.6rem;
	margin-top:-2.866667rem;
	width:7.2rem;
	background:#fff;
	overflow:hidden;
	border-radius:0.133333rem;
}
.unsub-tp{
	width:4.133333rem;
	height:1.733333rem;
	margin:0.866667rem auto 0.533333rem auto;
	border-bottom:1px solid #2c2c2c;
	font-size:0.453333rem;
	color:#2c2c2c;
	line-height:0.6rem;
	padding:0 0.533333rem;
	text-align:center;
}
.unsub-adviser{
	padding:0 0.533333rem;
	font-size:0.346667rem;
	color:#2c2c2c;
	margin-bottom:1.066667rem;
}
.unsub-adviser em{
	color:#999;
	margin-left:0.266667rem;
}
.unsub-adviser span{
	float:right;
}
.unsub-btn{
	background:#f5f5f5;
	height:1.173333rem;
}
.unsub-btn span{
	display:block;
	float:left;
	width:50%;
	text-align:center;
	font-size:0.453333rem;
	line-height:1.173333rem;
}
.unsub-btn span.active{
	color:#fff;
	background:#d6ab55;
}