html,body{
	height:100%;
	font-family:"Microsoft YaHei",SimSun;
}
.white-rt{
	display:inline-block;
	background:url(../src/assets/rt-icon.png) no-repeat;
	background-size:contain;
	width:0.186667rem;
	height:0.333333rem;
}
.yellow-rt{
	display:inline-block;
	background:url(../src/assets/rt-icon1.png) no-repeat;
	background-size:contain;
	width:0.346667rem;
	height:0.346667rem;
}
.news-icon{
	display:inline-block;
	background:url(../src/assets/news-icon.png) no-repeat;
	background-size:contain;
	width:0.533333rem;
	height:0.533333rem;
}
.white-lt{
	display:inline-block;
	width:0.186667rem;
	height:0.346667rem;
	z-index:10;
	background:url(../src/assets/lt-icon.png) no-repeat;
	background-size:contain;
}
.yellow-bt{
	display:inline-block;
	background:url(../src/assets/bt-icon.png) no-repeat;
	background-size:contain;
	width:0.24rem;
	height:0.133333rem;
}
.close-icon{
	display:inline-block;
	background:url(../src/assets/close-icon.png) no-repeat;
	background-size:contain;
	width:0.266667rem;
	height:0.266667rem;
}

/*按钮*/
.close-bt{
	width:5.333333rem;
	height:1.173333rem;
	line-height:1.173333rem;
	text-align:center;
	margin:1.066667rem auto;
	font-size:0.453333rem;
	color:#fff;
	background:#d5aa5c;
	border-radius:0.586667rem;
	border:none;
	display:block;
	cursor:pointer;
}

/*头部*/
.user-tit{
	height:1.173333rem;
	background:#27282f;
	line-height:1.173333rem;
	font-size:0.453333rem;
	text-align:center;
	font-weight:bold;
	color:#fff;
	position:relative;
}
.user-tit .white-lt{
	position:absolute;
	left:0.48rem;
	top:0.4rem;
}
/*底部按钮*/
.remits-fixed {
    background: #d5aa5c;
    bottom: 0;
    color: #fff;
    font-size: 0.453333rem;
    height: 1.30667rem;
    left: 0;
    line-height: 1.30667rem;
    position: fixed;
    text-align: center;
    width: 100%;
}
.remits-fixed.active{
	background:#cccccc;
}


@keyframes fadeIn
{
  0% {opacity:0}
  100% {opacity: 1}
}

.fadeIn {
    animation: fadeIn 0.8s;
    animation-iteration-count:1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes fadeOut
{
  0% {opacity:1}
  100% {opacity: 0}
}

.fadeOut {
    animation: fadeOut 0.8s;
    animation-iteration-count:1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}


@keyframes translateY
{
  0% {transform:translateX(100%);}
  100% {transform:translateX(0);}
}

.translateY {
    animation: translateY 0.4s;
    animation-iteration-count:1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

.brand-left-cion{position:absolute;left:.4666rem;top:.4rem;}
.brand-list-header{position:relative;z-index:25;overflow:hidden;height:1.1733rem;text-align:center;line-height:1.1733rem;font-size:.5333rem;color:#fff;background-color:#27282f;}

::-webkit-input-placeholder{
     font-family: "Microsoft Yahei";
     color:#bbb;
     font-size:0.38rem
 }

.dialog{
    position:fixed;
    background:rgba(0,0,0,0.75);
    height:100%;
    width:100%;
    top:0;
    z-index: 100;
}

.dialogBack{
    animation: opacityback 0.8s;
    animation-iteration-count:1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}
.dialogShow {
    animation: dialog 0.8s;
    animation-iteration-count:1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes opacityback
{
  0% {opacity: 0}
  100% {opacity: 1}
}

@keyframes dialog
{
  0% {transform:translateY(100%);opacity: 0}
  100% {transform:translateY(0);opacity: 1}
}


.anmiteStatus {
    animation: myfirst 0.8s;
    animation-iteration-count:1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}


@keyframes myfirst
{
0% {transform:translateX(100%);opacity: 0}
100% {transform:translateX(0);opacity: 1}
}

.dialog-con{width:7rem;background:#FFF;position:absolute;top:50%;left:50%;transform:translateX(-50%) translateY(-50%);border-radius:0.1rem;}
.dialog-con p{line-height:0.6rem;text-align:center;font-size:0.42rem;padding:0.8rem 0.4rem;}
.dialog-btn{line-height:1.2rem;font-size:0.4rem;text-align:center;}
.dialog-btn span{display:block;width:50%;float:left;}
.dialog-btn span:nth-of-type(1){background:#f5f5f5;border-radius:0 0 0 0.1rem;}
.dialog-btn span:nth-of-type(2){background:#d5aa5c;color:#FFF;border-radius:0 0 0.1rem 0;}

.header-fixed{width:100%;position:fixed;top:0;}
.fixed-con{padding-top: 1.173rem;}