/*消息*/
.coupons-cont{
	background:#fff;
	width:8.933333rem;
	height:3.466667rem;
	margin:0 auto;
}
.coupons-cont dl{
	padding:0.4rem;
	margin-top:0.533333rem;
	background:#fff;
	box-shadow:0 0.3px 6px 0.3px #f6b32e;
	overflow:hidden;
}
.coupons-cont dt{
	height:2.65rem;
	width:2.4rem;
	text-align:center;
	line-height:2.6rem;
	border-right:1px dashed #efeff4;
	font-size:0.586667rem;
	color:#d5aa5c;
	position:relative;
	float:left;
}
.coupons-cont dt:before,.coupons-cont dt:after{
	content: "";   
    display: block;
	width: 0.4rem;
	height: 0.4rem;
	background-color: #f5f4f3;
	border-radius: 0 0 0.4rem 0.4rem;
	position:absolute;
	left:2.2rem;
}
.coupons-cont dt:before{
	top:-0.533333rem;
}
.coupons-cont dt:after{
	border-radius: 0.4rem 0.4rem 0 0;
	bottom:-0.533333rem;
}
.coupons-cont dd{
	float:left;
	width:4.866667rem;
	text-align:center;
	margin-left:0.466667rem;
}
.coupons-color{
	font-size:0.4rem;
	color:#5abb52;
	margin-top:0.8rem;
}
.coupons-time{
	color:#999;
	font-size:0.32rem;
	margin-top:0.266667rem;
}
.coupons-color.active{
	color:#ff6469;
}